<h1>Events I Created</h1>
<p>Click on an event title to see the details </p>
<ul>
  <% @created_events.each do |event| %>
    <li>
       <%= link_to event.even_name, event_path(event) %>
    </li> 
  <% end %>
</ul>

<h1>Events Am Attending </h1>
<p>Click on an event title to see the details </p>
<ul>
  <% @attended_events.each do |event| %>
    <li>
       <%= link_to event.even_name, event_path(event) %>
    </li> 
  <% end %>
</ul>

