<h1>Events Created</h1>
<p>Find me in app/views/users/show.html.erb</p>
<% if current_user %>

    <ul id="events">
        <% @events.each do |event| %>
        <li><%= event %></li>

        <%end%>

    </ul>
<%end%>