<h1><%= @event.even_name %></h1>
<p>
  <%= @event.description %>
</p>
<%= @event.date %>
<h2>Attendees</h2>
<ul>
  <% @attendees.each do |at| %>
  <%id = at.attendee_id %>
  <% user = User.where(id: id).first%>
  <li><%= user.email %></li>
  <% end %>
</ul>

 

